{{> header }}
    {{> navbar }}
    
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Sobre el Jefe Maestro</h1>
                    <p>El Jefe Maestro (John-117) ha sido condecorado en diversas ocasiones (faltándole solo la condecoración de prisionero de guerra) por las UNSC. Por su físico se puede intuir su manera de ser y de comportarse fuera del campo de batalla. Además es repudiado y temido por el Covenant («le llaman: demonio»).
                        Posee una fuerza sobrehumana, capacidad de razonamiento y agilidad mental rápida. Un humano normal emplea mucho tiempo en usar un rifle de precisión correctamente, mientras que el Jefe Maestro es capaz de usar todas las armas y vehículos de combate, ya sean de humanos o covenant, sin problema alguno. Sus habilidades van más allá de lo humano gracias a modificaciones genéticas y a la armadura que lleva consigo, la MJOLNIR Mark VI que, aunque pesa poco menos de media tonelada, le añade aún más fuerza.
                        El Jefe Maestro tiene carácter de héroe frío y aterrador. Cuando aparece en batalla, sus enemigos advierten que será casi imposible ganar. Él nunca habla a menos que sea necesario y es raro que se exprese. Usualmente Cortana se expresa por él. Las pocas veces que ha hablado tiene una voz ronca, siniestra y con poca vida. Lleva el chip de Cortana en la parte trasera de su casco, lo que le permite escuchar sus consejos y pedirle informes, etc.
                        Dentro de su persona el cuenta con trajes especiales o blindaje de combate.
                        </p>
        </div>
        <div class="col-4">
            <img src="img/master-chief.jpg" alt="Jefe Maestro" class="img-thumbnail img">
        </div>
        </div>
    </div>

{{> footer }}