{{> header }}

    {{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4"> {{ upperWord 'Hello everyone to my web page that it works' }} </h1>
        <p class="lead">Created for me Bifrost-Dev, the most better programmer of the world</p>
        <hr class="my-4">
        <p>I Can help you dummy</p>
    </div>

{{> footer }}
